.span-category{
    display: flex;
    align-items: center;
}

.category-list{
    height: 50px;
    visibility: visible;
}

.form-wrapper{
    margin-top: 15px;
}

.form-title{
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.form-subtitle{
    font-size: 1.2rem;
}
