@media (max-width: 550px){
    .grid-card{
        width: 40vw !important;
    }
}

.grid-image{
    height: 100px;
    object-fit: cover;
}

.grid-category{
    object-fit: contain;
    padding: 10%;
}

.grid-header{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.category-icon{
    width: 20px;
    height: 20px;
    display: inline;
    margin-right: 5px;
}