.activity-wrapper{
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10vh;
    margin-left: -20px;
    column-gap: 50px;
}

.chart-container{
    position: relative;
    width: 40vw;
    height: 35vh;
    margin-bottom: 10vh; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

@media (max-width: 500px){
    .chart-container{
        position: relative;
        width: 90vw;
        height: 35vh;
        margin-bottom: 10vh; 
    }    

}
